__pycache__/
*.py[cod]
.env
venv/
env/
configs/config.yaml
*.key
*.pem
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
.ipynb_checkpoints/
logs/
*.log
.vscode/
.idea/
.DS_Store

# Setuptools / pip install -e
*.egg-info/
*.egg
build/
dist/
